.btn-primary {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  margin-left: 1rem;
  color: var(--text-black);
  transition: var(--transition);
  border: 1px solid var(--color-border);
  background-color: transparent;
  display: flex;
  align-items: center;
}

.btn-primary:hover {
  color: var(--text-white);
  background-color: var(--color-primary);
  border: 1px solid var(--color-border);
}

.btn-secondry {
  padding: 0.8rem 2rem;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--text-white);
  display: flex;
  justify-content: center;
}
