.mainContainer {
  // position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  .errContainer {
    background-color: var(--color-success-bg);
    display: flex;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .info {
      padding: 1rem 1rem;

      .err_msg {
        margin-top: 0.3rem;
        color: var(--text-gray-dark);
      }
    }

    .buttons {
      border-left: 1px solid var(--text-light-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      padding: 0 0.5rem;
      cursor: pointer;

      color: var(--text-light-secondry);
      transition: var(--transition);
    }

    .buttons:hover {
      color: var(--color-success);
    }
  }
}

.err_icon {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  border-left: 7px solid var(--color-success);
  border-radius: var(--border-radius);
  .icon {
    font-size: 2.5rem;
    color: var(--color-success);
  }
}
