.mainContainer{

position: absolute;
z-index: 9999;
top: 0;
width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, 0.564);
    .container{
        background-color: #fff;
        width: 30%;
        margin: 10rem auto 0 auto;
        border-radius: var(--border-radius);
        

        @media (max-width: 1280px) {
            width: 50%;
          }
        
          @media (max-width: 980px) {
            width: 60%;
          }
        
          @media (max-width: 680px) {
            width: 80%;
          }
        
          @media (max-width: 380px) {
            width: 90%;
          }


        .close__icon{
            float: right;
            font-size: 2rem;
            cursor: pointer;
            color: var(--text-gray-light);
        }

        .info__container{
            padding: 1rem 2rem 0.5rem 2rem;
            border-bottom: 1px solid var(--color-border);
            h1{
                font-size: 1.5rem;
            }

            p{
                font-size: 0.8rem;
            }


        }

        .form__container{
                margin-top: 1rem;
                padding: 0 2rem;

            .form{

                .form__input{
                    display: flex;
                    flex-direction: column;
                    margin-top: 1rem;
                    
                }
                .form__btn{
                    margin-top: 1rem;
                    display: flex;
                    justify-content: center;
                

                    button{
                        width: 30%;
                        margin-bottom: 1rem;
                        padding: 0.8rem 1rem;
                        border-radius: var(--border-radius);
                        background-color: var(--color-primary);
                        color: white;
                }

                }

                
            }

        }
    }
}


.input__err {
    border: 1px solid var(--color-danger);
    box-shadow: 0 0 8px var(--color-danger);
  }
  
  .form__err__msg {
    color: var(--color-danger);
    font-size: 0.8rem;
    margin-top: 3px;
  }